PORT=8080

# Database Configuration
DATABASE_URL=

# Jwt Configuration
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=900
REFRESH_TOKEN_EXPIRES_IN=1800

# Cookie Configuration
COOKIE_SECRET=


#Cron Configuration
REFRESH_TOKEN_CLEANUP_CRON="0 */6 * * *"
REFRESH_TOKEN_CLEANUP_GRACE_PERIOD_HOURS="24"


# SMTP Configuration
SMTP_HOST=
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="TDN App <noreply@tdn.com>"

# Cors Configration
CORS_ORIGIN=

# OAuth Github Configration
GITHUB_CLIENT_ID="github_client_id"
GITHUB_CLIENT_SECRET="github_client_secret_key"
GITHUB_CALLBACK_URL="http://localhost:8080/api/v1/oauth/github/callback"